[Desktop Entry]

Name=HocoslamfyRG
Comment=Avoid the bamboo while flying with your bee, rumble editionQ
Exec=hocoslamfy-od
Terminal=false
Type=Application
Icon=hocoslamfy
X-OD-Manual=manual-en.txt
StartupNotify=true
Categories=games;
